.mainDiv{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.mainContainer{
    max-width: 1440px;
    width: 100%;
    display: flex;
    gap: 100px;
}

.info{
    width: 50%;
}

.image{
    width: 50%;
    display: flex;
    justify-content: center;
}

.img{
    width: 100%;
}

.info{
    font-size: 22px;
}